*{
    box-sizing: border-box;
}

header {
    background-color: #eeecec;
    padding: 18px;
    text-align: center;
}

nav{
    overflow: hidden;
    background-color: rgb(34,33,33);
}

nav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font: bold 13px Georgia, serif;
}

nav a:hover {
    background-color: rgb(202, 202, 202);
    color:black;
}

section {
    padding: 10px;
}

.column {
    float: left;
    width: 33.33%;
    padding: 20px;
    text-indent: 50px;
    word-spacing: 10px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width:800px) {
    .column {
        width: 100%;
    }
}


p {
    color: #5f5f5f;
    font-size: 16px;
    text-align: center;
}

h6 {
    color: #009688;
    text-align: center;
}

img {
    max-width: 100%;    
}

.line {
    
    background: #b3ee91 url("../images/forest.jpg") 100% 83% no-repeat fixed;   

}

footer{
    background-color: #eeecec;
    padding: 16px;
    text-align: center;
}






















.block {
    width: 300px;
    height: 80px;
    display: block;
    margin-left: auto;
    margin-right: auto
}

#myCanvas {
    border:2px solid #a7a3a3;
    width: 300px;
    height: 80px;
}

.interract {
    display: inline;
}